@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

:root {
    --background-color: #76806A;
    --text-color: #D8D8D8;

}

body {
    font-family: Oswald, Monaco;
}

.card-img-top {
    height: 15rem;
    object-fit: cover;
}

nav.navbar {
    background-color: #191924 !important;
    color: var(--text-color);
}

.navbar-brand,
li.nav-item,
.nav-link {
    color: var(--text-color) !important;
}

button.btn-outline-dark {
    color: var(--text-color);
    font-size: 1.1rem !important;
    border: .1px solid var(--text-color);
}

.card.rounded-3.mb-2 {
    background-color: var(--background-color);
    border: 0.1px solid var(--text-color);
}

input#form1 {
    width: 50px !important;
}

div#offcanvasRight {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--text-color);
    border-radius: 6px;
}

div.card.rounded-3.mb-2 {
    color: var(--text-color);
}

.offcanvas-header {
    background-color: var(--background-color);
    border: 0.1px solid var(--text-color);
    border-radius: 6px;
}

.totalDiv-style {
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 1rem;
    border: 0.1px solid var(--text-color);
}

.icon-style {
    color: var(--text-color);
}

header.py-5.my-5 {
    background-color: var(--background-color) !important;
}

.display-4.fw-bolder {
    color: var(--text-color) !important;
}