body {
    color: #fff;
    overflow-x: hidden;
}

.container {
    /* background-image: url(./assets/night.jpg); */
    border-radius: 1rem;
}

.side-info {
    margin: 10px 10px 10px 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px;
}

.card0 {
    width: 80%;
}

.card1 {
    padding: 30px 20px 30px 50px;
    border-radius: 2rem !important;
}

.large-font {
    font-size: 70px;
    font-family: Arial;
}

input {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    width: 80%;
    box-sizing: border-box;
    border: none !important;
    color: #E1F5FE;
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #fff !important;
    outline-width: 0;
    font-weight: 400;
}

.icondiv {
    position: relative;
}

p.icon-text {
    position: absolute;
    bottom: 0rem;
    left: 67%;
    transform: translateX(-50%);
    font-size: 13px;
    font-weight: 500;
}

img.icon {
    height: 50%;
    width: 50%;
}

img {
    height: 30px;
    width: 30px;
}

.fa-search {
    color: #607D8B;
    background-color: #E1F5FE;
    font-size: 20px;
    padding: 20px;
    width: 20%;
    cursor: pointer;
}

.row.px-3 {
    font-size: 1.1rem !important;
}

::placeholder {
    color: #B0BEC5 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #B0BEC5 !important;
}

::-ms-input-placeholder {
    color: #B0BEC5 !important;
}

.suggestion:hover {
    color: #fff;
    cursor: pointer;
}

.line {
    height: 3px;
    background-color: #B0BEC5;
}

/* @media screen and (max-width: 500px) {
    .card1 {
        padding-left: 26px;
    }
} */